body {
    background-color:rgb(104, 144, 158);
}

h1 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    margin-top: 50px;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    margin-top: 50px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    inline-size: 750px;
    margin: 100px;
    margin-top: 30px;
}

ol {
    margin:100px;
    margin-top: 30px;
} 

ul {
    margin:100px;
    margin-top: 30px;
}

img {
    height: 300px;
    margin-left: 100px;

}

/* li {
    display: list-item;
    list-style-position: inside;
} */